version: '3.3'

services:
 
  db:
    image: mysql:5.7
    volumes:
     - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: /run/secrests/db_root
      MYSQL_DATABASE: /run/secrests/db_name
      MYSQL_USER: /run/secrests/db_user
      MYSQL_PASSWORD: /run/secrests/db_password
    secrets:
     - db_root
     - db_name
     - db_user
     - db_password

  wordpress:
    depends_on:
     - db
    image: wordpress:latest
    volumes:
     - wordpress_data:/var/www/html
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: /run/secrests/db_user
      WORDPRESS_DB_PASSWORD: /run/secrests/db_password
      WORDPRESS_DB_NAME: /run/secrests/db_name
    secrets:
     - db_user
     - db_password
     - db_name

  webserver:
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    restart: always
    volumes:
      - ./nginx/conf/:/etc/nginx/conf.d/:ro
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/:/etc/nginx/ssl/:ro


  filestash:
    image: machines/filestash
    restart: always
    environment:
    - APPLICATION_URL=filestash.testing.love2lingo.com

  ftp:
    image: docker.io/stilliard/pure-ftpd
    restart: always
    volumes:
     - wordpress_data:/wordpress
    environment:
      PUBLICHOST: "localhost"
      FTP_USER_NAME: wordpress
      FTP_USER_PASS: wordpress
      FTP_USER_HOME: /wordpress


secrets:
  db_root:
    file: ./secrets/root
  db_user:
    file: ./secrets/user
  db_password:
    file: ./secrets/password
  db_name:
    file: ./secrets/name

volumes:
  db_data: 
    external: true
  wordpress_data: 
    external: true